@model TripGMap.Models.ProfileModel.Profile

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Owner)
        </td>
    </tr>
}
</table>
